[alias]
	co = checkout
	s = status
	br = branch
	aliases = config --get-regexp '^alias\\.'
	aa = add .
	lc = "log --oneline --graph -15 --pretty=format:'%C(#DBBC7F)%h%Creset -%C(#E67E80)%d%Creset %C(#E1E7DD)%s By %C(#7FBBB3)<%an>'"
[core]
	editor = nvim
